<!DOCTYPE html>
<html>
  <head>
    <style>
      #my_div {
        font-family: sans-serif;
        font-size: 20px;
        text-align: left;
        border-collapse: collapse;
        width: 80%;
      }
    </style>
  </head>

  <body>
    <div id="my_div">
      <a href="/books">Books</a><br>
      <a href="/clothes">Clothes</a><br>
      <a href="/restaurants">Restaurants</a><br>
    </div>
  </body>
</html>
